#introPage .introduction {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    left: 0px;
    right: 0px;
    background-image: linear-gradient(52deg, rgba(163, 163, 163, 0.09) 0%, rgba(163, 163, 163, 0.09) 33.3%, rgba(100, 100, 100, 0.09) 33.3%, rgba(100, 100, 100, 0.09) 66.6%, rgba(162, 162, 162, 0.09) 66.6%, rgba(162, 162, 162, 0.09) 99%), linear-gradient(258deg, rgba(193, 193, 193, 0.06) 0%, rgba(193, 193, 193, 0.06) 33.3%, rgba(169, 169, 169, 0.06) 33.3%, rgba(169, 169, 169, 0.06) 66.6%, rgba(92, 92, 92, 0.06) 66.6%, rgba(92, 92, 92, 0.06) 99%), linear-gradient(129deg, rgba(45, 45, 45, 0.03) 0%, rgba(45, 45, 45, 0.03) 33.3%, rgba(223, 223, 223, 0.03) 33.3%, rgba(223, 223, 223, 0.03) 66.6%, rgba(173, 173, 173, 0.03) 66.6%, rgba(173, 173, 173, 0.03) 99%), linear-gradient(280deg, rgba(226, 226, 226, 0.06) 0%, rgba(226, 226, 226, 0.06) 33.3%, rgba(81, 81, 81, 0.06) 33.3%, rgba(81, 81, 81, 0.06) 66.6%, rgba(186, 186, 186, 0.06) 66.6%, rgba(186, 186, 186, 0.06) 99%), linear-gradient(85deg, rgba(225, 225, 225, 0.04) 0%, rgba(225, 225, 225, 0.04) 33.3%, rgba(95, 95, 95, 0.04) 33.3%, rgba(95, 95, 95, 0.04) 66.6%, rgba(39, 39, 39, 0.04) 66.6%, rgba(39, 39, 39, 0.04) 99%), linear-gradient(128deg, rgba(184, 184, 184, 0.06) 0%, rgba(184, 184, 184, 0.06) 33.3%, rgba(0, 0, 0, 0.06) 33.3%, rgba(0, 0, 0, 0.06) 66.6%, rgba(140, 140, 140, 0.06) 66.6%, rgba(140, 140, 140, 0.06) 99.89999999999999%), linear-gradient(323deg, rgba(40, 40, 40, 0.07) 0%, rgba(40, 40, 40, 0.07) 33.3%, rgba(214, 214, 214, 0.07) 33.3%, rgba(214, 214, 214, 0.07) 66.6%, rgba(190, 190, 190, 0.07) 66.6%, rgba(190, 190, 190, 0.07) 99.89999999999999%), linear-gradient(61deg, rgba(230, 230, 230, 0) 0%, rgba(230, 230, 230, 0) 33.3%, rgba(241, 241, 241, 0) 33.3%, rgba(241, 241, 241, 0) 66.6%, rgba(55, 55, 55, 0) 66.6%, rgba(55, 55, 55, 0) 99%), linear-gradient(0deg, #2625e3, #0bbaef);
    padding-bottom: 80px;
    overflow: auto hidden;
}

#introPage h1 {
    font-family: "Hind Madurai", sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 10px 15px;
    border-radius: 10px;
}

#introPage .intro-card {
    margin-top: 20px;
    background-color: white;
}

#introPage .intro-text {
    margin-bottom: 15px;
}

#introPage .intro-text div {
    background-color: #363265;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

#introPage p {
    margin: 0px;
}

#introPage .text-1,
.text-2,
.text-3,
.text-4,
.text-5,
.text-6,
.text-7,
.text-8,
.text-9,
.text-10,
.text-11,
.text-12,
.text-13,
.text-14,
.text-15,
.text-16,
.text-17,
.text-18 {
    font-family: "Noto Sans Tamil", sans-serif;
    font-optical-sizing: auto;
    line-height: 30px;
}

#introPage .bold-text {
    font-weight: bold;
    font-family: "Noto Sans Tamil", sans-serif;
    font-optical-sizing: auto;
}


#introPage .intro-footer-text {
    position: fixed;
    bottom: 10px;
    left: 0px;
    width: 100%;
    height: 70px;
}

#introPage .book-view-count {
    border: none;
    outline: none;
    font-weight: bold;
    padding: 10px 30px;
    background-color: black;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    border: 2px solid transparent;
    gap: 5px;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#introPage .book-view-count iconify-icon {
    font-size: 25px;
}

#introPage .download-intro-btn {
    position: absolute;
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    font-size: 25px;
    color: white;
}

/* Media Query */
@media screen and (min-width:1024px) {

    #introPage .download-intro-btn {
        right: 20px;
        top: 20px;
    }


    #introPage .text-1,
    .text-2,
    .text-3,
    .text-4,
    .text-5,
    .text-6,
    .text-7,
    .text-8,
    .text-9,
    .text-10,
    .text-11,
    .text-12,
    .text-13,
    .text-14,
    .text-15,
    .text-16,
    .text-17,
    .text-18 {
        font-family: "Noto Sans Tamil", sans-serif;
        font-optical-sizing: auto;
        line-height: 30px;
    }

    #introPage .intro-card {
        padding: 20px 40px;
    }

    #introPage .text-1 {
        text-align: center;
        font-weight: bold;
    }

    #introPage .text-2 {
        text-align: center;
        margin-bottom: 15px;
    }

    #introPage .text-3 {
        text-align: center;
        font-size: 25px;
        font-weight: bolder;
    }

    #introPage .text-4 {
        text-align: center;
        margin-bottom: 15px;
    }

    #introPage .text-5 {
        text-align: center;
    }

    #introPage .text-6 {
        margin-top: 20px;
    }

    #introPage .text-6,
    #introPage .text-7,
    #introPage .text-8,
    #introPage .text-9,
    #introPage .text-10,
    #introPage .text-11,
    #introPage .text-12,
    #introPage .text-13,
    #introPage .text-14,
    #introPage .text-15 {
        font-size: 16px;
        text-indent: 100px;
        margin-bottom: 20px;
        text-align: justify;
    }

    #introPage .text-16,
    #introPage .text-17,
    #introPage .text-18 {
        text-align: right;
        font-size: 16px;
    }

    #introPage .text-17,
    #introPage .text-18 {
        font-size: 18px;
        font-weight: bold;
    }

}


@media screen and (max-width:1023px) {

    #introPage .download-intro-btn {
        right: -10px;
        top: -10px;
    }

    #introPage .intro-card {
        padding: 10px 25px;
    }

    #introPage .text-1,
    .text-2,
    .text-3,
    .text-4,
    .text-5,
    .text-6,
    .text-7,
    .text-8,
    .text-9,
    .text-10,
    .text-11,
    .text-12,
    .text-13,
    .text-14,
    .text-15,
    .text-16,
    .text-17,
    .text-18 {
        font-family: "Noto Sans Tamil", sans-serif;
        font-optical-sizing: auto;
        line-height: 25px;
        word-spacing: -2px;
    }


    #introPage .text-1 {
        text-align: center;
        font-weight: bold;
    }

    #introPage .text-2 {
        text-align: center;
        margin-bottom: 12px;
    }

    #introPage .text-3 {
        text-align: center;
        font-size: 25px;
        font-weight: bolder;
        margin-bottom: 10px;
    }

    #introPage .text-4 {
        text-align: center;
        margin-bottom: 15px;
    }

    #introPage .text-5 {
        text-align: center;
        font-size: 15px;
    }

    #introPage .text-6 {
        margin-top: 20px;
    }

    #introPage .text-6,
    #introPage .text-7,
    #introPage .text-8,
    #introPage .text-9,
    #introPage .text-10,
    #introPage .text-11,
    #introPage .text-12,
    #introPage .text-13,
    #introPage .text-14,
    #introPage .text-15 {
        font-size: 14px;
        text-indent: 50px;
        margin-bottom: 20px;
        text-align: justify;
    }

    #introPage .text-16,
    #introPage .text-17,
    #introPage .text-18 {
        text-align: right;
        font-size: 16px;
    }

    #introPage .text-17,
    #introPage .text-18 {
        font-size: 18px;
        font-weight: bold;
    }

}